body{
    background-color: #fdfdfde0;
}
.container{
    background-color: rgb(255, 255, 253);
}
.card{
    background-color: rgb(255, 254, 253);
}
.formclass{
    background-color: rgb(246, 246, 246);
}
.text-shadow{
    text-shadow: 2px 2px 4px rgb(56, 166, 203);
}
